@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Segoe UI', BlinkMacSystemFont, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: #297ca0;
  }

  button {
    background: transparent;
    border: 0;
    outline: 0;
  }

  body{
    height: 100vh;
    margin: 0 auto;
    overscroll-behavior: none;
    width: 100%;
  }

  .navbar{
     background : #c72c41; 
     color: #fff;
     padding: 0.5rem 0;
     height: 80px;  
     display: flex;
     align-items: center;
     font-family: 'Bebas Neue', cursive;
     font-size: 30px;
     box-shadow: 0 5px 20px 15px rgba(0, 0, 0, 0.20);
  }

  .navbar__row1{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar a{
    margin: 0 10px 0 10px;
    color: #fff;
  }

  .navbar a:link{
    text-decoration: none;
    color: #fff;
  }

  .navbar a:hover{
    text-decoration:underline ;
    cursor: pointer;
    color: #e9ea77;
  }

  .navbar__row1 img{
    width: 200px;
    height: 60px;
  }

  .navbar__row2{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
    height: 600px;
  }
  .login__container {
    border: 2px solid #297ca0;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 400px;
    width: 350px;
  }
  .login__container h2{
      color: #297ca0;
      font-family: "Bebas Neue";
      font-size: 30px;
  }
  .login__container--form {
    display: flex;
    flex-direction: column;
  }
  .login__container--form input{
    width: 200px;
    height: 40px;
    margin: 0 0 10px 0;
    border-radius: 5px 5px 5px 5px;
  }
  .login__container--form button{
    color: #fff;
    background-color: #c72c41;
    border-color: #CD4040;
    width: 200px;
    height: 25px;
  }
  .login__container--form label {
    font-size: 14px;
  }
  .login__container--form label input{
    height: 20px;
  }
  .login__container--remember-me {
    color: #dfe9ee;
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .login__container--remember-me a {
    color: #297ca0;
    font-size: 14px;
    text-decoration: none;
  }
  .login__container--remember-me a:hover {
    text-decoration: underline;
  }
  
  p{
      color: #c72c41;
  }
  