@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Segoe UI', BlinkMacSystemFont, -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: #297ca0;
  }

  button {
    background: transparent;
    border: 0;
    outline: 0;
  }

  body{
    height: 100vh;
    margin: 0 auto;
    overscroll-behavior: none;
    width: 100%;
  }

  .navbar{
     background : #c72c41; 
     color: #fff;
     padding: 0.5rem 0;
     height: 80px;  
     display: flex;
     align-items: center;
     font-family: 'Bebas Neue', cursive;
     font-size: 25px;
     box-shadow: 0 5px 20px 15px1 rgba(0, 0, 0, 0.20);
  }

  .navbar__row1{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar a{
    margin: 0 10px 0 10px;
  }

  .navbar a:link{
    text-decoration: none;
    color: #fff;
  }

  .navbar a:hover{
    text-decoration:underline ;
    cursor: pointer;
    color: #e9ea77;
  }

  .navbar__row1 img{
    width: 200px;
    height: 60px;
  }

  .navbar__row2{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .AwardSection{
    width: 100%;
    height: 580px;
    background-image: url("../images/Portada_3.jpg");
    background-size: cover;
    position: relative;
  }

  .AwardSection img{
    width: 700px;
  }

  .ArtistYear-Section{
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
  }
  
  .ArtistYear-nominee{
    height: 120px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #297ca0;
    display: flex;
  }

  .ArtistYear-nominee h2{
    padding-top: 20px;
    font-size: 40px;
  }
  
  .ArtistYear-img{
    width: 200px;
  }

  .ArtistYear-img img{
    width: 180px;
    height: 120px;
  }

  .ArtistYear__title{
    display: flex;
    justify-content: center;
  }

  .ArtistYear__title h1{
    font-size: 80px;
  }

  .ArtistYear__content{
    width: 100%;
    height: 300px;
    display: flex;
  }

  .ArtistPop-Section{
    width: 100%;
    height: 700px;
    background: #bbbbbb;
    background-size: cover;
    position: relative;
  }
  
  .ArtistPop-nominee{
    height: 120px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #297ca0;
    display: flex;
  }

  .ArtistPop-nominee h2{
    padding-top: 20px;
    font-size: 40px;
  }
  
  .ArtistPop-img{
    width: 200px;
  }

  .ArtistPop-img img{
    width: 180px;
    height: 120px;
  }

  .ArtistPop__title{
    display: flex;
    justify-content: center;
  }

  .ArtistPop__title h1{
    font-size: 80px;
  }

  .ArtistPop__content{
    width: 100%;
    height: 300px;
    display: flex;
  }